body{
    height: 100vh;
    font-family: "Kanit";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 24px;
    gap: 64px;
}

.logo{
    height: 120px;
    width: auto;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #FDDAAD;
    margin: 0px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.header a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-shadow: 0.1em 0.02em 0 #AE7B37;
}

.header a:hover{
    color: #faeddb;
}

.start{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 120px;
    gap: 32px;
    background-color: #FDDAAD;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-color: #FDDAAD;
}

.introduction h1{
    font-size: 64px;
    margin: 0px;
    text-shadow: 0.1em 0.02em 0 #AE7B37;
    color: white;
}

.introduction p{
    font-size: 24px;
    color: white;
}

.introduction button{
    background-color: white;
    color: #AE7B37;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 16px;
    box-shadow: 0.15em 0.1em 0 #AE7B37;
}

.introduction button:hover{
    background-color: #faf2e7;
}

.cafe-photo{
    height: auto;
    width: 550px;
    box-shadow: 0.3em 0.3em 0 #AE7B37;
    border: 10px solid white;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
.info h2{
    font-size: 64px;
    color: #FDDAAD;
    text-shadow: 0.1em 0.02em 0 #AE7B37;
    margin: 0px;
}

.specialities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.specs{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    color: white;
    width: 200px;
    background-color: #e5b74a;
    padding: 32px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0.5em 0.5em 0 #AE7B37;
}

.specs img{
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.quote{
    background-color: #f1cf7e;
    margin: 64px 0;
    padding: 32px;
    display: flex;
    justify-content: center;
}

.q-box{
    width: 700px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    text-shadow: 0.05em 0.05em 0 #e5b74a;
}

.saying{
    margin: 0px;
    font-size: 36px;

}

.author{
    margin: 0px;
    font-size: 24px;
}

.action{
    background-color: #AE7B37;
    width: 65%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 56px;
    gap: 24px;
    border-radius: 25px;
    box-shadow: 0.5em 0.5em 0 #f1cf7e;
    flex-wrap: wrap;
}

.text{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    max-width: 650px;
}

.text h2{
    margin: 0px;
    font-size: 30px;
}

.action button{
    font-size: 25px;
    color: #AE7B37;
    padding: 4px 16px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0.1em 0.1em 0 #f1cf7e;
    cursor: pointer;
    flex: 1;
}

.action button:hover{
    background-color: #faf2e7;
}

.footer{
    margin: 0px;
    margin-top: 64px;
    background-color: #FDDAAD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    width: 100%;
}

.footer p{
    margin: 0px;
    color: white;
    font-size: 25px;
    font-weight: 250;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: #AE7B37;
}